@model instrumentRentals.Models.instrument

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Intrument List</h4>
    <hr />
    <d1 class="row">
        Instrument Name: @Model.name Insturment Type: @Model.type
    </d1>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */ })
    <a asp-action ="Index">Back to List</a>
</div>
